<h3>Importing all necessary libraries </h3>

In [37]:
import pandas as pa
from matplotlib import pyplot as pt
import csv
import numpy as np
from sklearn.linear_model import LogisticRegression as lr

<h2>scrapping csv file using pandas read function</h2>

In [2]:
dataframe = pa.read_csv('/Users/ankush/Desktop/covid_symptoms_data_2.csv')

<h2>checking if dataframe has been created properly</h2>

In [5]:
dataframe.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0   99.254765         1   85          1           1              1
1   98.954284         0   55          0          -1              0
2  101.647720         0   84          0           0              1
3  101.318212         1   12          0           1              1
4   99.139178         1   24          0           0              0

In [8]:
dataframe.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2884  101.712022         0   42          1          -1              1
2885  100.435787         0   97          1           1              0
2886  100.750620         0    5          0           0              1
2887   99.927393         0   96          1           1              0
2888   99.519023         0   15          1           0              0

<h2>n=2888</h2>

In [10]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2889 entries, 0 to 2888
Data columns (total 6 columns):
fever            2889 non-null float64
bodyPain         2889 non-null int64
age              2889 non-null int64
runnyNose        2889 non-null int64
diffBreath       2889 non-null int64
infectionProb    2889 non-null int64
dtypes: float64(1), int64(5)
memory usage: 135.5 KB

In [11]:
dataframe.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,2889.000000,2889.000000,2889.000000,2889.000000,2889.000000,2889.000000
mean,99.999273,0.510903,49.899965,0.491866,-0.027345,0.500519
std,1.134316,0.499968,28.847724,0.500020,0.826508,0.500086
min,98.000300,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,99.036548,0.000000,25.000000,0.000000,-1.000000,0.000000
50%,99.993046,1.000000,49.000000,0.000000,0.000000,1.000000
75%,100.962298,1.000000,74.000000,1.000000,1.000000,1.000000
max,101.992313,1.000000,100.000000,1.000000,1.000000,1.000000

visualising data

In [25]:
''' filename = '/Users/ankush/Desktop/covid_symptoms_data_2.csv'
with open(filename) as file:
    reader = csv.reader(file)
    header_row = next(reader)
    highs = []
    for row in reader:
        if row[1]=='':
            continue
        high = int(row[1],10)
        highs.append(high) 
    
    fig = pt.figure(dpi = 128, figsize = (10,6))
    pt.plot(highs, c = 'red') 
  
    pt.title("Abnormal symptoms", fontsize = 24)
    pt.xlabel('',fontsize = 16)
    pt.ylabel('', fontsize = 16)
    pt.tick_params(axis = 'both', which = 'major' , labelsize = 16)
    pt.show()'''

' filename = \'/Users/ankush/Desktop/covid_symptoms_data_2.csv\'\nwith open(filename) as file:\n    reader = csv.reader(file)\n    header_row = next(reader)\n    highs = []\n    for row in reader:\n        if row[1]==\'\':\n            continue\n        high = int(row[1],10)\n        highs.append(high) \n    \n    fig = pt.figure(dpi = 128, figsize = (10,6))\n    pt.plot(highs, c = \'red\') \n  \n    pt.title("Abnormal symptoms", fontsize = 24)\n    pt.xlabel(\'\',fontsize = 16)\n    pt.ylabel(\'\', fontsize = 16)\n    pt.tick_params(axis = \'both\', which = \'major\' , labelsize = 16)\n    pt.show()'

<h1>Begining of program</h1>

<h2>splitting data</h2>

In [27]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [28]:
np.random.permutation((7))

array([3, 0, 1, 5, 2, 4, 6])

<h2>1:5 ratio</h2>

In [30]:
train, test = data_split(dataframe, 0.2)

In [31]:
train

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1811   98.228244         1   70          0           0              1
1835  101.091649         1   69          1           0              0
965   101.981402         0   60          0           0              1
1234  100.425669         0   61          0          -1              1
662   100.502494         0    3          1           0              1
...          ...       ...  ...        ...         ...            ...
1638  100.823703         0   16          1           0              1
1095   99.092296         1   10          1           1              0
1130  101.223455         1   84          1           0              0
1294  100.944881         0   44          0           1              1
860   100.862392         1   62          0           0              1

[2312 rows x 6 columns]

In [32]:
test

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
471   101.649511         0   36          0           0              0
1206   98.852075         1   34          1           1              1
2382  100.808617         0   52          1          -1              0
2013   99.756587         1   55          1           1              1
2885  100.435787         0   97          1           1              0
...          ...       ...  ...        ...         ...            ...
109   100.181416         0   91          1           1              1
1894  101.252918         0    9          1           1              0
163    98.792579         1   68          1           0              0
1924   99.712089         0   76          0           0              0
252   100.604908         1   63          0           1              0

[577 rows x 6 columns]

<h2>X,Y map</h2>

In [33]:
X_train = train[['fever', 'bodyPain', 'age', 'runnyNose', 'diffBreath']].to_numpy()
X_test = test[['fever', 'bodyPain', 'age', 'runnyNose', 'diffBreath']].to_numpy()

In [34]:
Y_train = train[['infectionProb']].to_numpy().reshape(2312,)
Y_test = test[['infectionProb']].to_numpy().reshape(577,)

In [35]:
Y_train

array([1, 0, 1, ..., 0, 1, 1])

In [38]:
runlr = lr()
runlr.fit(X_train, Y_train)

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

<h1>Taking symptoms as input</h1>

In [44]:
input_symptom_array = [] 
print("Enter in sequence, 1. temperature 2. body pain(yes=1, no=0), 3. age 4. runny nose(yes=1, no=0) 5. difficulty in breathing(yes=1, no=0) ")
for i in range(0, 5): 
    each = int(input()) 
  
    input_symptom_array.append(each)

Enter in sequence, 1. temperature 2. body pain(yes=1, no=0), 3. age 4. runny nose(yes=1, no=0) 5. difficulty in breathing(yes=1, no=0)
100
1
1
1
1

<h3> running linear regression and finding probability of being covid +ve

In [48]:
final_prob =runlr.predict_proba([input_symptom_array])[0][1]

In [49]:
final_prob

0.5246284951512169